venv/
venv/Lib/site-packages
venv/Lib/site-packages/aioice/__pycache__
venv/Lib/site-packages/aioice/__pycache__/__init__.cpython-311.pyc
venv/Lib/site-packages/aioice/__init__.py

_pycache_
__init__.cpython-311.pyc
__pycache__

*._pyc
venv
Lib\site-packages
venv/Lib/site-packages/aioice/candidate.py
venv/Lib/site-packages/aioice/ice.py
venv/Lib/site-packages/aioice/mdns.py


